body{
	background-color: white;
	margin-top: 100px;
	margin-left:50px;
	margin-right: 50px;

}
h1{
	font-family: 'Abril Fatface', cursive;
	margin-left: 300px;
	font-size: 150px;
	color: black;
	

}



ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: grey;
  font-size: 20px;
  margin-top: 0px;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgray;
}


p {
  font-family: times new Roman
  font-size: 20px;
  margin-left: 200px;
  margin-right: 200px;
  line-height: 30px;
  margin-bottom: 30px;


}

h2 {
font-family: "Times New Roman", Times, serif;
  margin-left: 200px;
  font-size: 50px;
  color: black;
  margin-top: 100px;
  margin-right: 200px;
text-align: center;

}


h3 {
  font-family: "Times New Roman", Times, serif;
  margin-left: 200px;
  font-size: 20px;
  color: grey;
  margin-right: 200px;
  margin-bottom: 50px;
  text-align: center;


}

img {
   height: 300px;
  width: 500px
  margin-left: 10px;

}
